/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Active category private **/
.active .category-private {
	line-height: 15px !important;
	border-left-width: 0 !important;
}

/** General >> Content list 2 has post thumbnail **/
.content-list-2 .has-post-thumbnail {
	line-height: 15px !important;
	font-weight: 400 !important;
	border-left-width: 0 !important;
}

/** General >> Content list 2 category uncategorized **/
.content-list-2 .category-uncategorized {
	background-color: rgba(0, 0, 0, 0) !important;
	border-left-width: 0 !important;
}

/** General >> Mtp post how i coded my first website in html wp site blocks **/
.mtp-post-how-i-coded-my-first-website-in-html .wp-site-blocks {
	background-color: rgb(48, 179, 255) !important;
	border-right-color: rgba(0, 0, 0, 0) !important;
	border-left-color: rgba(0, 0, 0, 0) !important;
}

/** General >> Active category uncategorized **/
.active .category-uncategorized {
	border-left-color: rgba(0, 0, 0, 0) !important;
}

/** General >> Post cover category private **/
.post-cover .category-private {
	border-left-width: 0 !important;
}

/** General >> Has small font size has post thumbnail **/
.has-small-font-size .has-post-thumbnail {
	border-left-width: 0 !important;
}

/** General >> Has small font size category uncategorized **/
.has-small-font-size .category-uncategorized {
	border-left-width: 0 !important;
}

/** General >> Is flex container category private **/
.is-flex-container .category-private {
	border-left-width: 0 !important;
}

/** General >> Is flex container has post thumbnail **/
.is-flex-container .has-post-thumbnail {
	border-left-width: 0 !important;
}

/** General >> Is flex container category uncategorized **/
.is-flex-container .category-uncategorized {
	border-left-width: 0 !important;
}

/** General >> Has extra small font size category private **/
.has-extra-small-font-size .category-private {
	border-left-width: 0 !important;
}

/** General >> Has extra small font size has post thumbnail **/
.has-extra-small-font-size .has-post-thumbnail {
	border-left-width: 0 !important;
}

/** General >> Has extra small font size category uncategorized **/
.has-extra-small-font-size .category-uncategorized {
	border-left-width: 0 !important;
}

/** General >> Active has post thumbnail **/
.active .has-post-thumbnail {
	border-left-width: 0 !important;
}
body {
	background-color: lightBlue !important;
}
header {
	background-color: lightBlue !important;
}

